extends ../layouts/default

block main
  a(href="/artworks/new", class="btn btn-default pull-right") new artwork
  h1= title

block content
  - if (artworks.length)
    table.artwork-list.table.entries-list
      thead
        tr
          th Title
          th Year
          th Sold
          th Website
          th soldTo
          th Date created
          th Tags
          th Image
      - each artwork in artworks
        tr
          td
            h3
              a(href='/artworks/'+artwork._id+'/edit', title="edit") #{artwork.title}
          td
            = artwork.year
          td
            = artwork.sold
          td
            = artwork.showOnWebsite
          td
            = artwork.soldTo
          td
            .meta
              span.muted= formatDate(artwork.createdAt)
          td
            - if (artwork.tags)
              - each tag in artwork.tags.split(',')
                i.muted.fa.fa-tag &nbsp;
                a.tag(href="/tags/"+tag)= tag
                | &nbsp;&nbsp;
          td
            - if (artwork.image && artwork.image.files && artwork.image.files.length)
              img(src=artwork.image.cdnUri + '/artinventory' + '/mini_' + artwork.image.files[0])
    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No artworks.&nbsp;
      a(href="/artworks/new") create one
